<!DOCTYPE html>
<html layout:decorator="layout/layout-base"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${njpb_title}"></title>
    <script th:src="@{/static/lib/common-external.js}"></script>

    <link rel="stylesheet" th:href="@{/njpb/css/scts_tables.css}">

    <link rel="stylesheet" th:href="@{/static/lib/datepicker/datepicker3.css}">


</head>
<body>

<section id="widget-grid" class="" layout:fragment="content">

    <!--<div class="row">-->
    <div class="box-header" th:include="layout/alertMsg :: msg"
         style="padding-top: 0px; padding-bottom: 0px; margin-left: 13px; margin-right: 13px;"></div>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0"
             data-widget-editbutton="false">
            <header>
					<span class="widget-icon"> <i class="fa fa-table"></i>
					</span>
                <h2>站点设备出入库汇总</h2>
            </header>

            <!-- widget div-->
            <div>
                <!-- widget edit box -->
                <div class="jarviswidget-editbox modal fade media-preview"
                     id="myModal"></div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body no-padding">

                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="selectCorp" class="xmbh_top">所属公司</label>
                                <select class="form-control" id="selectCorp"
                                        style="font-size: 12px; height: 30px;">
                                    <option></option>
                                </select>
                            </div>

                            <div class="col-sm-4">
                                <label for="beginTime" class="xmbh_top">开始时间</label>
                                <div class="row">
                                    <div class="col-xs-8 col-sm-12">
                                        <div class="input-group">
                                            <input class="form-control date-picker" id="beginTime"
                                                   type="text" data-date-format="yyyy/mm/dd"/> <span
                                                class="input-group-addon"
                                                onclick="document.getElementById('beginTime').focus();"> <i
                                                class="fa fa-calendar bigger-110"></i>
													</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label for="estateType" class="xmbh_top">配件类型</label>
                                <select class="form-control" id="estateType"
                                        style="font-size: 12px; height: 30px;">
                                    <option></option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-2"
                         sec:authorize="hasAuthority('NJPB-WEB-ESTATE-EQUIPMENT-NEW')">
                        <button class="btn-search" style="margin-top: 35px; height: 30px"
                                onclick="search()">查询
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div style="margin-top: 20px;">
                                <table id="stationDeviceStock-list"
                                       class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>所属公司</th>
                                        <th>配件名称</th>
                                        <th>上月结存</th>
                                        <th>本月入库</th>
                                        <th>本月出库</th>
                                        <th>本月结存</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <th id="sda" style="color: red;"></th>
                                    <th  ></th>
                                    <th ></th>
                                    <th  style="color: red;"></th>

                                    </tfoot>
                                </table>

                                <!-- 库存入库 -->
                                <div aria-hidden="true" aria-labelledby="inStock"
                                     class="modal fade media-preview" id="stationDeviceStock" role="dialog"
                                     tabindex="-1">
                                    <div class="modal-dialog" style="width: 80%;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button class="close" data-dismiss="modal" type="button">
                                                    <span aria-hidden="true">&times;</span><span
                                                        class="sr-only">关闭</span>
                                                </button>
                                                <h4 class="modal-title" id="inStock">Title</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    <div class="row">

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
        </div>
    </article>
</section>

<div layout:fragment="scripts">
    <script th:src="@{/static/lib/plugin-widget.js}"></script>
    <script th:src="@{/static/lib/wire-util.js}"></script>
    <script th:src="@{/static/lib/layer/layer.js}"></script>

    <script th:src="@{/njpb/js/stockManage/stationDeviceStock.js}"></script>

    <script th:src="@{/static/lib/datepicker/bootstrap-datepicker.js}"></script>
    <script
            th:src="@{/static/lib/smart_admin/js/plugin/datatables/jquery.dataTables.min.js}"></script>
    <script
            th:src="@{/static/lib/smart_admin/js/plugin/datatables/dataTables.colVis.min.js}"></script>
    <script
            th:src="@{/static/lib/smart_admin/js/plugin/datatables/dataTables.tableTools.min.js}"></script>
    <script
            th:src="@{/static/lib/smart_admin/js/plugin/datatables/dataTables.bootstrap.min.js}"></script>
    <script
            th:src="@{/static/lib/smart_admin/js/plugin/datatable-responsive/datatables.responsive.min.js}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#beginTime").datepicker({
                format: 'yyyy/mm',
                weekStart: 1,
                startView: 1,
                minViewMode: 1,
                forceParse: false,
                language: 'cn',
                autoclose: true,
                todayHighlight: true
            });

        });
    </script>
</div>
</body>
</html>