<!DOCTYPE html>
<html layout:decorator="layout/layout-base"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title th:text="${njpb_title}"></title>
    <script th:src="@{/static/lib/common-external.js}"></script>
    <link rel="stylesheet" th:href="@{/njpb/css/scts_tables.css}" >
   <link th:href="@{/njpb/css/printShou.css}"  rel="stylesheet" type="text/css" />
    <!--<link rel="stylesheet" th:href="@{/njpb/css/lrtk.css}">-->
    <style >
        .col-sm-6 {
            padding: 5px 0px;
        !important;
        }

    </style>


</head>
<body>

<section id="widget-grid" class="" layout:fragment="content">

    <!--<div class="row">-->
    <div class="box-header" th:include="layout/alertMsg :: msg"
         style="padding-top: 0px; padding-bottom: 0px; margin-left: 13px; margin-right: 13px;"></div>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0"
             data-widget-editbutton="false">
            <header>
					<span class="widget-icon"> <i class="fa fa-table"></i>
					</span>
                <h2>工单列表</h2>
            </header>

            <!-- widget div-->
            <div>
                <!-- widget edit box -->
                <div class="jarviswidget-editbox modal fade media-preview"
                     id="myModal"></div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div class="widget-body no-padding">
                    <div class="row">

                        <div class="col-sm-10">
                            <div class="row">

                                <div class="col-sm-4">
                                    <label for="xmbh" class="xmbh_top">所属公司</label> <select
                                        class="form-control" id="workOrderCorp"
                                        style="font-size: 12px; height: 25px;">
                                    <option></option>
                                </select>
                                </div>

                                <div class="col-sm-4">
                                    <label for="xmmc" class="xmbh_top">报修方式</label>
                                    <select onchange="estatePartsType()"
                                            class="form-control" id="reportWay"
                                            style="font-size: 12px; height: 30px;">
                                        <option></option>
                                        <!--<option id='sel_reportWay' value='1'> 站点</option>-->
                                        <!--<option id='sel_reportWay2' value='2'> 车辆</option>-->
                                    </select>
                                </div>


                                <div class="col-sm-4">
                                    <label for="sblx" class="xmbh_top">设备类型</label> <select
                                        class="form-control" id="workOrderEstateType"
                                        style="font-size: 12px; height: 25px;">
                                    <option></option>
                                </select>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-2" sec:authorize="hasAuthority('NJPB-WEB-WORKORDER')">
                            <button class="btn-search" onclick="doSearch()">查询</button>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-10">
                            <div class="row">


                                <div class="col-sm-4">
                                    <label for="cd" class="xmbh_top">工单状态</label> <select
                                        class="form-control" id="workOrderStatus"
                                        style="font-size: 12px; height: 25px;">
                                    <option></option>
                                </select>
                                </div>

                                <div class="col-sm-4">
                                    <label for="beginTime" class="xmbh_top">开始时间</label>
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-12">
                                            <div class="input-group">
                                                <input class="form-control date-picker" id="beginTime"
                                                       type="text" data-date-format="yyyy/mm/dd"/> <span
                                                    class="input-group-addon"
                                                    onclick="document.getElementById('beginTime').focus();"> <i
                                                    class="fa fa-calendar bigger-110"></i>
													</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <label for="endtime" class="xmbh_top">结束时间</label>
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-12">
                                            <div class="input-group">
                                                <input class="form-control date-picker" id="endtime"
                                                       type="text" data-date-format="yyyy/mm/dd"/> <span
                                                    class="input-group-addon"
                                                    onclick="document.getElementById('endtime').focus();"> <i
                                                    class="fa fa-calendar bigger-110"></i>
													</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-10">
                            <div class="row">




                                <div class="col-sm-4">
                                    <label for="dw" class="xmbh_top">工单类型</label> <select
                                        class="form-control" id="workOrderType"
                                        style="font-size: 12px; height: 30px;">
                                    <option></option>
                                    <!--<option id='sel_workOrderType1' value='1'> 报修维修工单</option>-->
                                    <!--<option id='sel_workOrderType2' value='2'> 自修维修工单</option>-->
                                </select>
                                </div>

                                <div class="col-sm-4">
                                    <label for="dw" class="xmbh_top">派单人</label> <select
                                        class="form-control" id="assign"
                                        style="font-size: 12px; height: 30px;">
                                    <option></option>
                                    <!--<option id='sel_workOrderType1' value='1'> 报修维修工单</option>-->
                                    <!--<option id='sel_workOrderType2' value='2'> 自修维修工单</option>-->
                                </select>
                                </div>


                            </div>
                        </div>


                    </div>



                    <div class="row">
                        <div class="col-xs-12">
                            <div style="margin-top: 20px;">
                                <table id="workOrder-list"
                                       class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="txtCenter" width="10px"><input type="checkbox"
                                                                                  class="ace"/></th>
                                        <th>工单编号</th>
                                        <th>工单类型</th>
                                        <th>报修方式</th>
                                        <th>所属公司</th>
                                        <th>所属站点</th>
                                        <th>站点编号</th>
                                        <th>设备类型</th>
                                        <th>设备名称</th>
                                        <th>报修人</th>
                                        <th>派单人</th>
                                        <th>报修时间</th>
                                        <!--<th>故障描述</th>-->
                                        <th class="txtCenter" width="20px">详情</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>


                                <div aria-hidden="true" aria-labelledby="detailModalLabel"
                                     class="modal fade media-preview" id="detailForm"
                                     role="dialog" tabindex="-1">
                                    <div class="modal-dialog" style="width: 90%;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button class="close" data-dismiss="modal" type="button">
                                                    <span aria-hidden="true">&times;</span><span
                                                        class="sr-only">关闭</span>
                                                </button>
                                                <h4 class="modal-title" id="detailModalLabel">Title</h4>
                                            </div>

                                            <div class="modal-body" >

                                                <div class="container-fluid" id="workOrderPrint">

                                                    <!--<div id="tttt3">-->
                                                        <fieldset class="fieldset">
                                                            <legend class="legend">基础数据</legend>

                                                            <!--<div class="row form-row" id="sdfsd">-->
                                                            <div class="col-sm-6" id="asdfsdfas">
                                                                <div class="code_td">工单编号</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="serialNo"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <div class="code_td">工单类型</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="reportType"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>
                                                            <!--</div>-->
                                                            <!--<div class="row form-row">-->
                                                            <div class="col-sm-6">
                                                                <div class="code_td">报修人</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="reportEmployee"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <div class="code_td">报修时间</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="reportTime"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>


                                                            <div class="col-sm-6">
                                                                <div class="code_td">工单状态</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="statusName"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <div class="code_td">故障描述</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="faultDescription"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <div class="code_td">站点</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="stationName"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <div class="code_td">站点编号</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="stationNo"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <div class="code_td">报修方式</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="workOrderReportWay"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>


                                                            <div class="col-sm-6">
                                                                <div class="code_td">公司</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="corpName"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6" id="chkBikeFrameNo">
                                                                <div class="code_td">车架号</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="bikeFrameNo"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6" id="chkAssignEmployeeUserName">
                                                                <div class="code_td">派单人</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="assignEmployeeUserName"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6" id="chkAssignTime">
                                                                <div class="code_td">派单时间</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="assignTime"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6" id="chkAssignRemark">
                                                                <div class="code_td">派单备注</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="assignRemark"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6" id="chkRepairEmployeeUserName">
                                                                <div class="code_td">维修人</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="repairEmployeeUserName"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>
                                                            <!--</div>-->
                                                            <!--<div class="row form-row">-->
                                                            <div class="col-sm-6" id="chkRepairConfirmTime">
                                                                <div class="code_td">工单确认时间</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="repairConfirmTime"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6" id="chkRepairStartTime">
                                                                <div class="code_td">维修开始时间</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="repairStartTime"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6" id="chkRepairEndTime">
                                                                <div class="code_td">维修结束时间</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="repairEndTime"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6" id="chkRepairRemark">
                                                                <div class="code_td">维修备注</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="repairRemark"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6" id="chkMaintainRemark">
                                                                <div class="code_td">保养备注</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="maintainRemark"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>


                                                            <div class="col-sm-6" id="chkLevel">
                                                                <div class="code_td">工单等级</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="level"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6" id="chkReponseOverTime">
                                                                <div class="code_td">响应超时</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="reponseOverTime"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6" id="chkRepairOverTime">
                                                                <div class="code_td">维修超时</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="repairOverTime"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>


                                                            <div class="col-sm-6" id="chkBackRemark">
                                                                <div class="code_td">驳回备注</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="backRemark"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6" id="chkEstateNo">
                                                                <div class="code_td">设备编号</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="estateNo"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6" id="chkEstateName">
                                                                <div class="code_td">设备名称</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="estateName"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6" id="chkCategory">
                                                                <div class="code_td">设备类别</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="category"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6" id="chkEstateSn">
                                                                <div class="code_td">设备条码</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="estateSn"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6" id="chkSupplierName">
                                                                <div class="code_td">供应商</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="supplierName"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>


                                                            <div class="col-sm-6" id="chkEstateTypeName">
                                                                <div class="code_td">设备类型名称</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="estateTypeName"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6" id="chkResponseTimeOutDate">
                                                                <div class="code_td">工单响应超时时间</div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="responseTimeOutDate"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6" id="chkRepairTimeOutDate">
                                                                <div class="code_td">工单维修超时时间
                                                                </div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="repairTimeOutDate"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>


                                                            <div class="col-sm-6" id="chkBadComponentsDate">
                                                                <div class="code_td">更换类型/数量
                                                                </div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="badComponentsDate"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>


                                                            <div class="col-sm-6" id="chkCloseRemark">
                                                                <div class="code_td">关闭备注
                                                                </div>
                                                                <div class="form_nr">
                                                                    <input type="text" id="closeRemark"
                                                                           disabled="disabled"
                                                                           class="form-control form-scts"/>
                                                                </div>
                                                            </div>
                                                            <!--<div class="col-sm-6" id="chkFixed">-->
                                                            <!--<div class="code_td">是否完成</div>-->
                                                            <!--<div class="form_nr">-->
                                                            <!--<input type="text" id="fixed"-->
                                                            <!--disabled="disabled"-->
                                                            <!--class="form-control form-scts"/>-->
                                                            <!--</div>-->
                                                            <!--</div>-->

                                                            <!--</div>-->
                                                            <div class="row form-row"></div>

                                                        </fieldset>
                                                    <!--</div>-->

                                                    <div style="page-break-before: always" id="tttt2">
                                                        <fieldset class="fieldset" id="reportList">
                                                            <legend class="legend">报修图片</legend>
                                                            <div class="row form-row" style="padding-bottom: 10px;">
                                                                <div class="col-sm-12">

                                                                    <div class="form_nr"
                                                                         style="width: 80.5%;margin-left:12.5%"
                                                                         id="reportPicture">
                                                                        <div class="row" id="imgReportList">

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </fieldset>

                                                        <fieldset class="fieldset" id="assignList">
                                                            <legend class="legend">派单图片</legend>
                                                            <div class="row form-row" style="padding-bottom: 10px;">
                                                                <div class="col-sm-12">
                                                                    <div class="form_nr"
                                                                         style="width: 80.5%;margin-left:12.5%"
                                                                         id="assignPicture">
                                                                        <div class="row" id="imgAssignList">

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </fieldset>

                                                        <fieldset class="fieldset" id="repairList">
                                                            <legend class="legend">维修图片</legend>
                                                            <div class="row form-row" style="padding-bottom: 10px;">
                                                                <div class="col-sm-12">
                                                                    <!--<div class="code_td" style="width: 13.7%;"></div>-->
                                                                    <div class="form_nr"
                                                                         style="width: 80.5%;margin-left:12.5%"
                                                                         id="repairPicture">
                                                                        <div class="row" id="imgRepairList">

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </fieldset>

                                                        <fieldset class="fieldset" id="maintainList">
                                                            <legend class="legend">保养图片</legend>
                                                            <div class="row form-row" style="padding-bottom: 10px;">
                                                                <div class="col-sm-12">
                                                                    <!--<div class="code_td" style="width: 13.7%;"></div>-->
                                                                    <div class="form_nr"
                                                                         style="width: 80.5%;margin-left:12.5%"
                                                                         id="maintainPicture">
                                                                        <div class="row" id="imgMaintainList">

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </fieldset>


                                                        <fieldset class="fieldset">
                                                            <legend class="legend">历史记录</legend>
                                                            <div class="col-sm-12">
                                                                <table id="workOrderDetail" style="width:100%"
                                                                       class="table table-striped table-bordered table-hover">
                                                                    <thead>
                                                                    <tr>
                                                                        <!--<th   id="one">-->
                                                                        <!--<input type="checkbox"-->
                                                                        <!--class="ace"/>-->
                                                                        <!--</th>-->
                                                                        <th>操作人</th>
                                                                        <th>工单操作</th>
                                                                        <!--<th>操作备注</th>-->
                                                                        <th>上次操作时间</th>
                                                                        <th>用时</th>
                                                                    </tr>
                                                                    </thead>

                                                                </table>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>


                                                <div class="modal-footer" style="padding-bottom: 0px;">

                                                    <button id="closeWorkOrder" class="btn btn-primary" onclick="closeWorkOrder();">关闭</button>

                                                    <button class="btn btn-success" onclick="printOut();">打印</button>

                                                    <button class="btn btn-defual" onclick="detailCancel();">取消
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
                <!-- end widget content -->
            </div>

            <div style="height: 10%;width: 25%;position: absolute;top: 20%;left: 30%;display: none;z-index: 100000" id="bel1">
                <!--<h4 class="modal-title" id="myModalLabel1">提示</h4>-->
                <div class="modal-content">

                    <div class="modal-header" >

                        <h4 class="modal-title" id="myModalLabel1"> 关闭工单-备注</h4>

                    </div>



                                    <div class="form_nr" style=" width: 100%;padding-bottom: 5px;float: left" id="chktext">
												                    <textarea class="form-control limited" id="closeRemarkText"
                                                                              style="height: 100px;"
                                                                              maxlength=""></textarea>
                                    </div>




                    <div class="modal-footer" style="padding-bottom: 5px;"
                         sec:authorize="hasAuthority('NJPB-WEB-SYSTEM-MESSAGE')">

                        <button class="btn btn-success" id="btn_sendAll1"
                                onclick="saveCloseRemark();">确定
                        </button>

                        <button class="btn btn-default"
                                onclick="deleCloseRemark();">取消
                        </button>
                    </div>
                    <!--</form>-->
                </div>
            </div>
            <!-- end widget div -->
        </div>
    </article>
</section>

<div layout:fragment="scripts">
    <script th:src="@{/static/lib/plugin-widget.js}"></script>
    <script th:src="@{/static/lib/jquery.blockUI.js}"></script>
    <script th:src="@{/static/lib/wire-util.js}"></script>
    <script th:src="@{/static/lib/layer/layer.js}"></script>
    <script th:src="@{/njpb/js/workOrderManage/workOrderCheck.js}"></script>
    <script th:src="@{/static/lib/ace/ace-elements.min.js}"></script>
    <script th:src="@{/static/lib/ace/ace.min.js}"></script>
    <script th:src="@{/static/lib/datepicker/bootstrap-datepicker.js}"></script>
    <script
            th:src="@{/static/lib/smart_admin/js/plugin/datatables/jquery.dataTables.min.js}"></script>
    <script
            th:src="@{/static/lib/smart_admin/js/plugin/datatables/dataTables.colVis.min.js}"></script>
    <script
            th:src="@{/static/lib/smart_admin/js/plugin/datatables/dataTables.tableTools.min.js}"></script>
    <script
            th:src="@{/static/lib/smart_admin/js/plugin/datatables/dataTables.bootstrap.min.js}"></script>
    <script
            th:src="@{/static/lib/smart_admin/js/plugin/datatable-responsive/datatables.responsive.min.js}"></script>
    <script sec:authorize="hasAuthority('NJPB-WEB-WORKORDER-EXPORT')"
            th:src="@{/njpb/js/publicConfig/report_export.js}"></script>

    <script sec:authorize="hasAuthority('NJPB-WEB-WORKORDER-DELETE')"
            th:src="@{/njpb/js/publicConfig/batch_delete.js}"></script>

    <script th:src="@{/static/lib/jQuery/jquery.jqprint-0.3.js}"></script>
    <!--<script type="text/javascript" th:src="@{/static/lib/big/jquery.imgbox.pack.js}"></script>-->
    <script type="text/javascript">
        $(document).ready(function () {

            $("#beginTime").datepicker({
                autoclose: true,
                todayHighlight: true
            });
            $("#endtime").datepicker({
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>

    <!--<img src="/images/m01.jpg" onclick="this.width+=50;this.height+=50" onclick="javascript:window.open(this.src);" style="cursor:pointer;"/>-->
    <!--<img src="/images/m02.jpg" onclick="this.style.zoom='2'" onclick="javascript:window.open(this.src);" style="cursor:pointer;"/>-->
</div>
</body>
</html>