<!DOCTYPE html>
<html layout:decorator="layout/layout-base">
<head>
    <title>控制台</title>
</head>
<body>

<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            首页
            <small>控制台</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
            <li class="active">控制台</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Your Page Content Here -->
        <span>登录账号为:<span sec:authentication="principal"></span></span>

        <br/>
        <p class="col-sm-2" sec:authorize="hasAuthority('BTS')">
            用户可以访问'BTS'资源
        </p>

    </section>
    <!-- /.content -->
</div>

</body>
</html>