<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html layout:decorator="layout/layout-base"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title th:text="${cdai_title}"></title>
    <script th:src="@{/static/lib/common-external.js}"></script>

    <link rel="stylesheet" th:href="@{/cdai/css/scts_tables.css}">
    <link rel="stylesheet" th:href="@{/static/lib/datepicker/datepicker3.css}">
    <style>

    </style>
    <title>显示数据标签</title>

</head>
<body onload="pageSetUp()">

<section id="widget-grid" class="" layout:fragment="content">

    <div class="box-header" th:include="layout/alertMsg :: msg"
         style="padding-top: 0px; padding-bottom: 0px; margin-left: 13px; margin-right: 13px;"></div>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0"
             data-widget-editbutton="false">
            <header>
					<span class="widget-icon"> <i class="fa fa-table"></i>
					</span>
                <h2>模块故障分析</h2>
            </header>

            <div style="padding-bottom: 10px">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="line" class="xmbh_top" id="cheCorp">线路</label>
                            <select class="form-control" id="line"
                                    onchange="getStationsByLineIdOnLineIdChange(this.value)"
                                    style="font-size: 12px; height: 30px;">
                                <option></option>

                            </select>
                        </div>

                        <div class="col-sm-3">
                            <label for="station" class="xmbh_top" id="cheCorp1">车站</label>
                            <select class="form-control" id="station"
                                    style="font-size: 12px; height: 30px;">
                                <option></option>

                            </select>
                        </div>

                        <div class="col-sm-3">
                            <label for="module" class="xmbh_top" id="modClass">模块</label>
                            <select class="form-control" id="module"
                                    style="font-size: 12px; height: 30px;">
                                <option></option>

                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="timeScope" class="xmbh_top">运营月</label>
                            <div class="input-group">
                                <input class="form-control date-picker" id="timeScope"
                                       type="text"/> <span
                                    class="input-group-addon"
                                    onclick="document.getElementById('timeScope').focus();"> <i
                                    class="fa fa-calendar bigger-110"></i>
													</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="timeSpan" class="xmbh_top" id="cheCorp3">时间周期</label>
                            <select class="form-control" id="timeSpan"
                                    style="font-size: 12px; height: 30px;">
                                <option></option>

                            </select>
                        </div>
                        <div class="col-sm-2"
                             sec:authorize="hasAuthority('NJPB-WEB-ESTATE-EQUIPMENT-NEW')">
                            <button class="btn-search" style="margin-top: 35px; height: 30px"
                                    onclick="search()">查询
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="container1"></div>
            </div>
        </div>

    </article>
</section>

<div layout:fragment="scripts">

    <script th:src="@{/static/lib/datepicker/bootstrap-datepicker.js}"></script>

    <script>

        $('#dashboardMenu').removeClass('active');
        $('#left-wire').addClass('active').parent().css('display', 'block').parent().addClass('active open');
        initLeftActive('module_list');

        $("#timeScope").datepicker({
            format: 'yyyy/mm',
            weekStart: 1,
            autoclose: true,
            startView: 1,
            minViewMode: 1,
            forceParse: false,
            language: 'zh-CN',
            todayHighlight: true
        });

    </script>

    <script th:src="@{/cdai/js/fault/moduleFault.js}"></script>
</div>

</body>
</html>